<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="text-4xl text-slate-600"> <%= @listing.name %> </h1>
    <% if @listing.images.any? %>
      <div class="flex">
        <%= link_to @listing.images.first, target: "_new" do %>
          <%= image_tag @listing.images.first, class: "w-auto h-80" %>
        <% end %>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-4">
        <% @listing.images[1..4].each do |image| %>
          <%= link_to image, target: "_new" do %>
            <%= image_tag image, class: "w-full h-20 object-cover" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Edit this listing", edit_listing_path(@listing), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to listings", listings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this listing", @listing, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
